.leaflet-popup-content-wrapper {
  font-family: iranyekan !important;
  direction: rtl !important;
  text-align: right !important;
}

.leaflet-popup-content {
  font-family: iranyekan !important;
  line-height: 1.5rem !important;
}

.card-sunburst {
  display: flex;
  justify-content:center;
  align-items: center;
}

.bs-stepper .bs-stepper-header .step .bs-stepper-circle {
  font-family: iranyekan !important;
}