<footer class="content-footer footer bg-footer-theme mx-auto">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
        <div class="mb-2 mb-md-0">
            ساخته شده توسط
            <a href="https://hydrocode.ir" target="_blank" class="footer-link fw-medium">هیدروکُد</a>
            ©
            <script>
                document.write(new Date().getFullYear());
            </script>
        </div>
        <div class="d-none d-lg-inline-block">
        </div>
    </div>
</footer>
