
<!-- Helpers -->
<script src="{{ url_for('static', filename='vendor/js/helpers.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/js/template-customizer.js') }}"></script>
<script src="{{ url_for('static', filename='js/config.js') }}"></script>


<!-- Core JS -->
<script src="{{ url_for('static', filename='vendor/libs/jquery/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/popper/popper.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/js/bootstrap.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/hammer/hammer.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/i18n/i18n.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/typeahead-js/typeahead.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/js/menu.js') }}"></script>



<!-- Vendors JS -->
<script src="{{ url_for('static', filename='vendor/libs/apex-charts/apexcharts.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/leaflet/leaflet.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/leaflet-marker-cluster/leaflet.markercluster.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/quill/katex.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/quill/quill.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/select2/select2.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/dropzone/dropzone.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/jquery-repeater/jquery-repeater.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/flatpickr/flatpickr.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/tagify/tagify.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/@form-validation/umd/bundle/popular.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/@form-validation/umd/plugin-bootstrap5/index.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/@form-validation/umd/plugin-auto-focus/index.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/d3/d3.v5.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/bs-stepper/bs-stepper.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/bootstrap-select/bootstrap-select.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/moment/moment.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/datatables-bs5/datatables-bootstrap5.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/@form-validation/umd/bundle/popular.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/cleavejs/cleave.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/cleavejs/cleave-phone.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/libs/pivottable/2.23.0/pivot.min.js') }}"></script>



<!-- Main JS -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>


<!-- Page JS -->
<script src="{{ url_for('static', filename='js/map-cards.js') }}"></script>
<script src="{{ url_for('static', filename='js/cards.js') }}"></script>
<script src="{{ url_for('static', filename='js/app-ecommerce-product-add.js') }}"></script>
<script src="{{ url_for('static', filename='js/cards-statistics.js') }}"></script>
<script src="{{ url_for('static', filename='js/form-basic-inputs.js') }}"></script>
<script src="{{ url_for('static', filename='js/cards-advance.js') }}"></script>
<script src="{{ url_for('static', filename='js/sunburst.js') }}"></script>
<script src="{{ url_for('static', filename='js/form-wizard-numbered.js') }}"></script>
<script src="{{ url_for('static', filename='js/form-wizard-validation.js') }}"></script>
<script src="{{ url_for('static', filename='js/database.js') }}"></script>
<script src="{{ url_for('static', filename='js/ui-modals.js') }}"></script>
<script src="{{ url_for('static', filename='js/forms-file-upload.js') }}"></script>
<script src="{{ url_for('static', filename='js/filters.js') }}"></script>
